
.acor a:hover{
    color: black;
    text-decoration: none;


}
.cor{
    color: black }



    .a0 a:hover{
   
    color: green;
    text-decoration: none;
}



  
.a{
    color: black;
}

.a1 a:hover{
    color: red;
    text-decoration: none;

}
.aSP{
    color: black;
}
.psg a:hover{
    color: hsl(206deg 97% 30%);
    text-decoration: none;
}